{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Privacy{% endblock %}

{% block content %}
    <br>
    <h1 class="ui header">BooksOnline Privacy</h1><br>
    <section class="entry">
        <h3><strong>Introduction</strong></h3>
        <p>This is our privacy policy. It tells you how we collect and process data received from you on our site.</p>
        <p>If you have any comments on this privacy policy, please email them to support[at]booksonline.com.ng.</p>
        <h3><strong>Who We Are</strong></h3>
        <p>Here are the details that the Data Protection Act 1998 says we have to give you as a &#8216;data controller&#8217;:</p>
        <p>Our site address is https://booksonline.com.ng</p>
        <p>Our company name is Bafun Investment Ltd</p>
        <p>Our registered address is <span class="s1">No. 1/2, Dele Afunmiso Street, Ikotun-Egbe, Lagos</span></p>
        <p>Our Operating address is <span class="s1">No. 61, Egbe-Isolo Road, Lagos</span></p>
        <h3><strong>What we may collect</strong></h3>
        <p>We may collect and process the following data about you:</p>
        <ul>
            <li>Information you put into forms or surveys on our site at any time</li>
            <li>A record of any correspondence between us</li>
            <li>Details of transactions you carry out through our site</li>
            <li>Details of your visits to our site and the resources you use</li>
            <li>Information about your computer (e.g. your IP address, browser, operating system, etc.) for system administration and to report aggregate information to our advertisers</li>
        </ul>
        <h3><strong>Cookies</strong></h3>
        <p>We use cookies, tracking pixels and related technologies. A cookie is a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive. Every computer that accesses our website is assigned a different cookie by us.. Our site uses cookies dropped by us or third parties for a variety of purposes including to operate and personalize the website. Also, cookies may also be used to track how you use the site to target ads to you on other websites. You can opt out of receiving targeted advertising via the DAA opt-out site <a href="http://www.aboutads.info/">here</a> or the NAI opt-out site <a href="http://www.networkadvertising.org/choices/">here</a> or, if you are in Europe, the EDAA opt-out site <a href="http://www.youronlinechoices.com/">here</a>.</p>
        <h3><strong>How we use what we collect</strong></h3>
        <p>We use information about you to:</p>
        <ul>
            <li>Present site content effectively to you</li>
            <li>Provide information, products and services that you request, or (with your consent) which we think may interest you</li>
            <li>Carry out our contracts with you</li>
            <li>Allow you to use our interactive services if you want to</li>
            <li>Tell you our charges</li>
            <li>Tell you about other goods and services that might interest you. We will also let other people do this, and we (or they) may contact you.</li>
        </ul>
        <p>If you are already our customer, we will only contact you electronically about things similar to what was previously sold to you.</p>
        <p>If you are a new customer, you will only be contacted if you agree to it.</p>
        <p>If you don&#8217;t want to be contacted for marketing purposes, please tick the relevant box that you will find on screen.</p>
        <p>Please note: We don&#8217;t identify individuals to our advertisers, but we do give them aggregate information to help them reach their target audience, and we may use information we have collected to display advertisements to that audience.</p>
        <h3><strong>Where we store your data</strong></h3>
        <p>We may transfer your collected data to storage outside the European Economic Area (EEA). It may be processed outside the EEA to <span class="scayt-misspell-word" data-scayt-word="fulfil" data-scayt-lang="en_US">fulfil</span> your order and deal with payment.</p>
        <p>By giving us your personal data, you agree to this arrangement. We will do what we reasonably can to keep your data secure.</p>
        <p>Payment will be encrypted. If we give you a password, you must keep it confidential. Please don&#8217;t share it. Although we try to provide protection, we cannot guarantee complete security for your data, and you take the risk that any sending of that data turns out to be not secure despite our efforts.</p>
        <h3><strong>Disclosing your information</strong></h3>
        <p>We are allowed to disclose your information in the following cases:</p>
        <ul>
            <li>If we want to sell our business, or our company, we can disclose it to the potential buyer</li>
            <li>We can disclose it to other businesses in our group</li>
            <li>We can disclose it if we have a legal obligation to do so, or in order to protect other people&#8217;s property, safety or rights</li>
            <li>We can exchange information with others to protect against fraud or credit risks.</li>
        </ul>
        <h3><strong>Your rights</strong></h3>
        <p>You can ask us not to use your data for marketing. You can do this by ticking the relevant boxes on our forms, or by contacting us at any time at support[at]booksonline.com.ng.</p>
        <p>The Data Protection Act 1998 gives you the right to see information we hold about you. We can charge you a fee (currently £10) for this service.</p>
        <h3><strong>Links to other sites</strong></h3>
        <p>Please note that our terms and conditions and our policies will not apply to other websites that you get to via a link from our site.</p>
        <h3><strong>Changes</strong></h3>
        <p>If we change our Privacy Policy, we will post the changes on this page. If we decide to, we may also email you.</p>
    </section>
    <br><br>
{% endblock %}